
.DS_Store

/FTLibrary.xcodeproj/xcuserdata/rafiki270.xcuserdatad/xcdebugger/
/FTLibrary.xcodeproj/project.xcworkspace/xcuserdata/rafiki270.xcuserdatad/UserInterfaceState.xcuserstate
FTLibrary.xcodeproj/xcuserdata/baldophpourprix.xcuserdatad/xcschemes/xcschememanagement.plist
FTLibrary.xcodeproj/xcuserdata/baldophpourprix.xcuserdatad/xcschemes/FTLibrary.xcscheme

FTLibrary.xcodeproj/xcuserdata/baldoph.xcuserdatad/xcschemes/xcschememanagement.plist

FTLibrary.xcodeproj/xcuserdata/baldoph.xcuserdatad/xcschemes/FTLibrary.xcscheme

FTLibrary.xcodeproj/project.xcworkspace/xcuserdata/baldophpourprix.xcuserdatad/UserInterfaceState.xcuserstate

FTLibrary.xcodeproj/project.xcworkspace/xcuserdata/baldoph.xcuserdatad/UserInterfaceState.xcuserstate

DerivedData/
FTLibrary.xcodeproj/xcuserdata/alexsiddall.xcuserdatad/xcschemes/xcschememanagement.plist

FTLibrary.xcodeproj/xcuserdata/alexsiddall.xcuserdatad/xcschemes/FTLibrary.xcscheme

FTLibrary.xcodeproj/project.xcworkspace/xcuserdata/alexsiddall.xcuserdatad/UserInterfaceState.xcuserstate

FTLibrary.xcodeproj/xcuserdata/jakubrafaj.xcuserdatad/xcschemes/FTLibrary.xcscheme

FTLibrary.xcodeproj/xcuserdata/jakubrafaj.xcuserdatad/xcschemes/xcschememanagement.plist

Thirdparty/__LeavesView/
FTLibrary.xcodeproj/xcuserdata/jakubzelfel.xcuserdatad/xcschemes/FTLibrary.xcscheme

FTLibrary.xcodeproj/xcuserdata/jakubzelfel.xcuserdatad/xcschemes/xcschememanagement.plist

FTLibrary.xcodeproj/xcuserdata/rafiki270.xcuserdatad/xcschemes/FTLibrary.xcscheme
FTLibrary.xcodeproj/project.xcworkspace/xcuserdata

build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata/**/*